* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7fafc;
}

.materialui-daterange-picker-makeStyles-dateRangePickerContainer-1 {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 37px 99px #00000063;
}

.dropdown {
  padding-top: 10px;
  padding-left: 5px;
}

.name {
  padding-top: 10px;
}

.Lo {
  font: normal normal normal 15px/23px Poppins;
  letter-spacing: 0px;
  color: #000000;
  padding-left: 30px;
}

.cardHeading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.cardHeading h3 {
  padding-left: 35px;
}

.headingList {
  /* height: 70px;
  background-color: aqua;
  width: 50px; */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e3e3e3;
  border-radius: 9px;
  opacity: 1;
}

.headingList h4 {
  text-align: left;
  font: normal normal medium 18px/26px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
