* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7fafc;
}

.materialui-daterange-picker-makeStyles-dateRangePickerContainer-1 {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 37px 99px #00000063;
}

.dropdown {
  padding-top: 10px;
  padding-left: 5px;
}

.name {
  padding-top: 10px;
  text-align: left;
  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
  color: #000000;
}

.Lo {
  font: normal normal normal 15px/23px Poppins;
  letter-spacing: 0px;
  color: #000000;
  padding-left: 30px;
}

.cardHeading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.cardHeading h3 {
  padding-left: 35px;
}

.headingList {
  text-align: left;
  height: 60px;
  letter-spacing: 0px;
  color: #000000;
  width: 520px;
  opacity: 1;
  border: 1px solid #e3e3e3;
  list-style: none;
  padding: 0%;
  display: flex;
  justify-content: space-evenly;
}

.listCon {
  text-align: left;
  font: normal normal medium 18px/26px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
}

.listPera {
  text-align: left;
  padding-top: 2px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
  color: #af9696;
  opacity: 1;
}

.btn-calender {
  background: #ffffff 0% 0% no-repeat;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  opacity: 1;
  height: 60px;
  width: 210px;
}

.cal-text {
  text-align: left;
  font: normal normal 300 17px/26px Roboto;
  letter-spacing: 0px;
  color: #747474;
}

/* Dropdown css */

.numMark {
  text-align: left;
  font: normal normal medium 16px/19px Roboto;
  letter-spacing: 0px;
  color: #6983d6;
}

.dummy-3 {
  text-align: left;
  font: normal normal 300 14px/17px Roboto;
  letter-spacing: 0px;
  color: #6e6e6e;
  padding-left: 20px;
}

.dummy-2 {
  text-align: left;
  font: normal normal normal 16px/19px Roboto;
  letter-spacing: 0px;
  color: #000000;
  padding-top: 10px;
  padding-left: 5px;
}

.dummy-1 {
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  text-transform: capitalize;
  list-style: none;
  font-weight: bold;
  font-size: 17px;
}

/* Dashboard css */

.anaHeading {
  text-align: left;
  font: normal normal medium 18px/26px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.pg-bar {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #4277db;
  opacity: 1;
}

.item-border {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 5px;
}

.pBar-color {
  background: #e7f3fc;
}

.progress {
  background-color: white;
  height: 8px;
}

.ver-line {
  align-self: center;
  height: 80%;
  width: 1px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.green-box {
  background-color: rgb(92, 240, 92);
  height: 8px;
  width: 12px;
  border-radius: 7px;
}

.vio-box {
  background-color: rgb(197, 94, 245);
  height: 8px;
  width: 12px;
  border-radius: 7px;
}

.chart-info {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.chart-info div {
  margin-left: 15px;
}

.wrapper-dp {
  width: 150px;
  box-sizing: border-box;
  overflow: hidden;
}
